{%- if section.settings.section_color_enable -%}
<style>
  #section-{{ section.id }} .theme-btn-1 {
    background-color: {{ section.settings.button_bg_color }};
    color: {{ section.settings.button_text_color }};
  }
  #section-{{ section.id }} .btn-effect-1:hover {
    color: {{ section.settings.button_text_hover_color }};
  }
  #section-{{ section.id }} .theme-btn-1:hover {
    background-color: {{ section.settings.button_bg_hover_color }};
  }
</style>
{%- endif -%}

{%- render 'section-style' -%}

<style>
  html, body {
    max-width: 100%;
    overflow-x: hidden;
}

  #section-{{ section.id }} {
    background: #2D674B;
    color: #F8EDE3;
    width:100vw;
    text-align: center;
  }
  #section-{{ section.id }} .landing-banner-info-wrap{
    padding:20px;
    margin-top: 0;
  }
  .landing-banner-info-wrap h1{
    font-size: 40px;
    margin-bottom: 30px;
  }
  
  .landing-banner-info-wrap h1, .landing-banner-info-wrap h3, .landing-banner-benefits .lb-benefits-container h5{
    color: #F8EDE3;
  }
  .landing-banner-info-wrap h3{
    font-size: 15px;
  }
  .landing-banner-benefits .lb-benefits-container h5 {
    font-size: 17px;
    
  }
  @media only screen and (min-width: 320px)  {
    
    .landing-banner-benefits .lb-benefits-container h5 {
      font-size: 11px;
      
    }
  }
  @media only screen and (min-width: 355px)  {
    
    .landing-banner-benefits .lb-benefits-container h5 {
      font-size: 13px;
      
    }
  }
  @media only screen and (min-width: 380px)  {
    
    .landing-banner-benefits .lb-benefits-container h5 {
      font-size: 15px;
      
    }
  }
  
  .landing-banner-benefits{
    display: flex;
    align-items: center;

  }
  .lb-benefits-container{
    margin: 0 auto;
    display: flex;
  }
  #section-{{ section.id }} .lb-cta-btn-wrapper {
    margin-top: 12px;
  }
  .lb-cta-btn-wrapper .btn {
    background: #7B9EA8;
    color: #F8EDE3;
    margin-top: 0;
    border-radius: 7px;
  }
  .lb-cta-btn-text {
    font-size: 18px;
    margin-right: 2px;
  }
  .lb-bh-assured-img{
    margin-top: 40px;
  }
</style>

<div {% if settings.animation_enable %}data-aos="fade-up"{% endif %} class="ltn__about-us-area" id="section-{{ section.id }}" data-section="Landing_top_banner">
    <div class="row {% if section.settings.row_reverse %}flex-row-reverse{% endif %}">
      <div class="col-lg-6 align-self-center ">
        <div class="about-us-info-wrap landing-banner-info-wrap">
          {%- if section.settings.title != '' -%}
          <h1>{{ section.settings.title }}</h1>
          {%- endif -%}
          <div class="landing-banner-benefits">
            <div class="lb-benefits-container">
              <h5 style="margin-right: 13px;">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" fill="#FFA500" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                0% Packaging
              </h5>
              <h5 style="margin-right: 13px;">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" fill="#FFA500"  viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                Rich Soil
              </h5>
              <h5>
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" fill="#FFA500"  viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                Expert Guidance
              </h5>
            </div>
          </div>
          {%- if section.settings.sub_title != '' -%}
          <h3>{{ section.settings.sub_title }}</h3>
          {%- endif -%}
          {%- if section.settings.main_content != '' -%}
          {{ section.settings.main_content }}
          {%- endif -%}
          <div style="display: flex; align-items: center;">
            <div style="display: flex; margin: 0 auto;">
              <span class="star-ratings-css" style="unicode-bidi: bidi-override; color: gold; font-size: 16px; height: 17px; width: 80px; text-shadow: 0px 1px 0 #a2a2a2; margin-right: 20px;">
                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
              </span>
              <span style=" transform: translateY(2px);">
                <!-- Fresh Plants Guaranteed -->
                <img src="https://cdn.shopify.com/s/files/1/0806/7632/3637/files/BH_ASSURED_LOGO.png?v=1692432336" alt="BH_ASSURED" width="120" />
              </span>
            </div>
          </div>
          {%- if section.settings.show_button -%}
          <div class="btn-wrapper lb-cta-btn-wrapper">
            <a href="{{ section.settings.button_url }}" class="btn"  style="width: 250px">
              <span class="lb-cta-btn-text">
                {{ section.settings.button_title }}
              </span>
              <img src="https://cdn.shopify.com/s/files/1/0806/7632/3637/files/payment-options.svg" alt="secured payments" width="60"  height="30" style="transform: translateY(-2px);" />
              >
            </a>
          </div>
          <!-- <div class="BH_ASSURED_LOGO lb-bh-assured-img">
            <img src="https://cdn.shopify.com/s/files/1/0806/7632/3637/files/BH_ASSURED_LOGO.png?v=1692432336" alt="BH_ASSURED" width="120" />
          </div> -->
          {%- endif -%}
          <!-- <div style="margin-top: 16px;">
            <h5 style="margin-bottom: 5px; color: #fff">Secured Payments</h5>
            <div>
                <img src="https://cdn.shopify.com/s/files/1/0806/7632/3637/files/upi-ar21.png?v=1691608710" alt="UPI" width="60" height="30" style="margin-right: 10px;" />
                <img src="https://cdn.shopify.com/s/files/1/0806/7632/3637/files/GPAY.png?v=1692097072" alt="Gpay" width="60"  height="30" style="margin-right: 10px;" />
                <img src="https://cdn.shopify.com/s/files/1/0806/7632/3637/files/paytm.png" alt="Paytm" width="60" height="30" style="margin-right: 10px;" />
                <img src="https://cdn.shopify.com/s/files/1/0806/7632/3637/files/phonepe.webp?v=1691608710" alt="Phonepe" width="60" height="30" />
            </div>
          </div> -->
        </div>
      </div>
      <div class="col-lg-6 align-self-center">        
        <div class="about-us-img-wrap landing-banner-img-wrap">
          {%- if section.settings.about_image -%}
          {%- assign image = section.settings.about_image -%}
          <span class="image-position-wrapper" style="padding-bottom: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;">
            <img srcset="{% if image.width >= 270 %}{{ image | img_url: '270x' }} 270w,{% endif %}
                         {% if image.width >= 300 %}{{ image | img_url: '300x' }} 300w,{% endif %}
                         {% if image.width >= 328 %}{{ image | img_url: '328x' }} 328w,{% endif %}
                         {% if image.width >= 370 %}{{ image | img_url: '370x' }} 370w,{% endif %}
                         {% if image.width >= 420 %}{{ image | img_url: '420x' }} 420w,{% endif %}
                         {% if image.width >= 540 %}{{ image | img_url: '540x' }} 540w,{% endif %}
                         {% if image.width >= 570 %}{{ image | img_url: '570x' }} 570w,{% endif %}
                         {% if image.width >= 670 %}{{ image | img_url: '670x' }} 670w,{% endif %}
                         {% if image.width >= 770 %}{{ image | img_url: '770x' }} 1100w,{% endif %}
                         {% if image.width >= 900 %}{{ image | img_url: '900x' }} 900w,{% endif %}
                         {% if image.width >= 970 %}{{ image | img_url: '970x' }} 970w,{% endif %}
                         {% if image.width >= 1100 %}{{ image | img_url: '1100x' }} 1100w,{% endif %}
                         {% if image.width >= 1200 %}{{ image | img_url: '1200x' }} 1200w{% endif %}"
                 loading="lazy"
                 src="{{ image | img_url: '570x' }}"
                 sizes="100vw"
                 width="{{ image.width }}"
                 height="{{ image.height }}"
                 alt="{{ image.alt | escape }}"
                 class="image-position-size"
                 >
          </span>
          {%- else -%}
          <img src="https://via.placeholder.com/540x540" alt="Banner">
          {%- endif -%}
        </div>        
      </div>
    </div>
</div>

{% schema %}
  {
    "name": "Landing top banner",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
        {
          "type": "checkbox",
          "id": "row_reverse",
          "label": "Row Reverse",
          "default": true
        },
        {
          "type": "header",
          "content": "About Us Image"
        },
        {
          "type": "image_picker",
          "id": "about_image",
          "label": "Image",
          "info": "Recommended Size: 570 x 540px"
        },
        {
          "type": "header",
          "content": "About Information"
        },
        {
          "type": "text",
          "id": "sub_title",
          "label": "Sub Title",
          "default": "// Sub Title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
		  "default": "Title <span>.</span>",
		  "info": "Use <span> Tag for Highlight text"
        },
        {
          "type": "richtext",
          "id": "main_content",
          "label": "Main Content",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>"
        },
        {
          "type": "checkbox",
          "id": "show_button",
          "label": "Show Button",
          "default": true
        },
        {
          "type": "text",
          "id": "button_title",
          "label": "Button Title",
          "default": "View More"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "URL"
        },
        {
          "type": "header",
          "content": "Color"
        },
        {
          "type": "checkbox",
          "id": "section_color_enable",
          "label": "Color Enable",
          "default": false,
          "info": "Enable the field for color customization"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Button text Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "button_bg_color",
          "label": "Button BG Color",
          "default": "#e53e29"
        },
        {
          "type": "color",
          "id": "button_text_hover_color",
          "label": "Button text Hover Color",
          "default": "#071c1f"
        },
        {
          "type": "color",
          "id": "button_bg_hover_color",
          "label": "Button BG Hover Color",
          "default": "#071c1f"
        }
	],
	"blocks":[],
	"presets": [
		{
		  "name": "Landing top banner",
		  "category": "5. about",
		  "blocks":[]
		}
	]
  }
{% endschema %}

